[Unit]
Description=traefik
After=network-online.target
Wants=network-online.target

[Container]
AddCapability=NET_BIND_SERVICE
ContainerName=traefik
Environment=TZ=America/New_York
EnvironmentFile=./traefik/config/config.sops.env
Image=docker.io/library/traefik:v3.1.5@sha256:7b927f0ab22c85a636cde667aa6a3c90f1967bb5079899ce960ec51454fc96e9
IP=192.168.1.126
Network=containernet
SecurityLabelType=container_runtime_t
Volume=./traefik/cache:/data
Volume=./traefik/config/traefik.yaml:/etc/traefik/traefik.yaml:ro
Volume=/run/podman/podman.sock:/var/run/docker.sock:z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
